* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 11%;
    margin-top: 2%;
    padding: 13px;

}

header {
    background-color: #7695f9;
    background-image: url(../img/pattern.png);
    background-size: 23%;
}